{% extends layout_template %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block content %}
    <div class="container">
        <h1>BLAST Search</h1>

        <form method="post" action="results/{{uuid}}/" enctype="multipart/form-data" class="blast-form" role="form">
            <div class="row">
                <div class="form-group-group col-lg-12 box-fasta" id="sequence-input">
                    <label for="sequence">Enter a FASTA sequence</label>
                    <textarea name="sequence" id="sequence" rows="6" class="form-control">{{sequence}}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 box-database">
                    <div class="col-lg-6 databases nucl">
                        <h3>Nucleotide Databases</h3>
                        {% for d in databases.nucleotide %}
                            <div class="radio">
                                <label>
                                    <input type="radio" value="{{d.title}}" name="database" data-type="nucl" {% if loop.index == 1 %}checked="checked"{% endif %}> {{d.title }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-6 databases prot">
                        <h3>Protein Databases</h3>
                        {% for d in databases.protein %}
                            <div class="radio">
                                <label>
                                    <input type="radio" value="{{d.title}}" name="database" data-type="prot"> {{d.title }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4 box-program">
                    <h3>Program</h3>
                    <select name="program">
                        <optgroup label="Nucleotide">
                            {% for p in programs.nucleotide %}
                                <option value="{{p}}">{{p}}</option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Protein">
                            {% for p in programs.protein %}
                                <option value="{{p}}">{{p}}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success btn-large btn-block">Run BLAST</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>Advanced Options</h3>
                    <div class="col-lg-12">
                        <input type="text" class="form-control" name="advanced" id="advanced" />
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="static/js/jquery-1.8.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/interface.min.js"></script>
{% endblock %}
